@font-face {
  font-family: "NeueHaasGrotesk";
  font-weight: 800;
  src: url("../Fonts/neue-haas-grotesk/NeueHaasDisplayBold.ttf")
    format("truetype");
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "NeueHaasGrotesk";
  font-weight: 600;
  src: url("../fonts/neue-haas-grotesk/NeueHaasDisplayMediu.ttf")
    format("truetype");
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "NeueHaasGrotesk";
  font-weight: 400;
  src: url("../Fonts/neue-haas-grotesk/NeueHaasDisplayRoman.ttf")
    format("truetype");
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "NeueHaasGrotesk";
  font-weight: 300;
  src: url(../Fonts/neue-haas-grotesk/NeueHaasDisplayThin.ttf)
    format("truetype");
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
